@{
    ViewData["Title"] = "Confirmación de Correo Electrónico";
}

<h2>Confirmación de Correo Electrónico</h2>
<p>Gracias por confirmar tu correo electrónico.</p>
<a href="Account/Login.cshtml" type="button" class="btn btn-primary">A la Pantalla de Login</a>