@{
    ViewData["Title"] = "Por Favor Confirma tu Registro.";
}

<h2>Por Favor Confirma tu Registro.</h2>
<p>Revisa tu Correo Electrónico y Haz Click en el Enlace Para Confirmar tu Registro. Si no Ves el Correo de Confirmación, Verifica tu bandeja de Correo no Deseado</p>
<p>Gracias por Registrarte.</p>