@using SpaceUser.Models.User
@model Register

@{
    ViewData["Title"] = "Registro";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 card p-3">
        <h2 class="text-center text-info">Regístrate</h2>
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Surname1" class="control-label"></label>
                <input asp-for="Surname1" class="form-control" />
                <span asp-validation-for="Surname1" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Surname2" class="control-label"></label>
                <input asp-for="Surname2" class="form-control" />
            </div>
            <div class="mb-1">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password2" class="control-label"></label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Bday" class="control-label"></label>
                <input type="date" asp-for="Bday" class="form-control" rows="2"/>
                <span asp-validation-for="Bday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImageFile" class="control-label"></label>
                <input asp-for="ProfileImageFile" class="form-control" type="file" />
                <span asp-validation-for="ProfileImageFile" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-check-input" />
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login" class="text-decoration-none float-start mt-2">Ya Estás Registrado?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Regístrar" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}